</div> <!-- end main -->
</div> <!-- end wrap -->
<div id="footer">
    <div class="innerfooter">
      <div class="container-fluid">
      		<div class="innerwrapper">
      			<div class="row">
              		<div class="col-md-12" style="text-align:center;">
              &copy; Copyright Buhr Construction. All rights reserved.<br />
			  1290 County Road DK, Brussels, WI 54204<br />
			  Phone: (920) 825-1318
              		</div>
          		</div>
        	</div>
      	</div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/ekko-lightbox.min.js" | prepend: site.baseurl }}"></script>
	
	<script>
        $(document).ready(function(){        
            $('li img').on('click',function(){
                var src = $(this).attr('src');
                var img = '<img src="' + src + '" class="img-responsive"/>';
                //start of new code new code
                var index = $(this).parent('li').index();   
                var html = '';
                html += img;                
                html += '<div style="height:25px;clear:both;display:block;">';
                html += '<a class="controls next" href="'+ (index+2) + '">next &raquo;</a>';
                html += '<a class="controls previous" href="' + (index) + '">&laquo; prev</a>';
                html += '</div>';
                $('#myModal').modal();
                $('#myModal').on('shown.bs.modal', function(){
                    $('#myModal .modal-body').html(html);
                    //new code
                    $('a.controls').trigger('click');
                })
                $('#myModal').on('hidden.bs.modal', function(){
                    $('#myModal .modal-body').html('');
                });
           });
        })
        //new code
        $(document).on('click', 'a.controls', function(){
            var index = $(this).attr('href');
            var src = $('ul.row li:nth-child('+ index +') img').attr('src');             
            $('.modal-body img').attr('src', src);
            var newPrevIndex = parseInt(index) - 1; 
            var newNextIndex = parseInt(newPrevIndex) + 2; 
            if($(this).hasClass('previous')){               
                $(this).attr('href', newPrevIndex); 
                $('a.next').attr('href', newNextIndex);
            }else{
                $(this).attr('href', newNextIndex); 
                $('a.previous').attr('href', newPrevIndex);
            }
            var total = $('ul.row li').length + 1; 
            //hide next button
            if(total === newNextIndex){
                $('a.next').hide();
            }else{
                $('a.next').show()
            }            
            //hide previous button
            if(newPrevIndex === 0){
                $('a.previous').hide();
            }else{
                $('a.previous').show()
            }
            return false;
        });
    </script>
    <!-- Widon't, removes widows in text -->
		<script>
			jQuery(function($) {
			    $('h1,h2,h3,p').each(function() {
			        $(this).html($(this).html().replace(/\s([^\s<]+)\s*$/,'&nbsp;$1'));
			    });
			});
		</script>
  </body>
</html>
